/* FIRST ROW */
#wallet_0101 {
    background-position: -19px -34px !important;
}
#wallet_0102 {
    background-position: -305px -176px !important;
}
#wallet_0201 {
    background-position: -738px -34px !important;
}
#wallet_0202 {
    background-position: -1025px -176px !important;
}

/* SECOND ROW */
#wallet_0301 {
    background-position: -19px -503px !important; /* +469 */
}
#wallet_0302 {
    background-position: -305px -645px !important;
}
#wallet_0401 {
    background-position: -738px -503px !important;
}
#wallet_0402 {
    background-position: -1025px -645px !important;
}

/* THIRD ROW */
#wallet_0501 {
    background-position: -19px -969px !important; /* +469 */
}
#wallet_0502 {
    background-position: -305px -1111px !important;
}
#wallet_0601 {
    background-position: -738px -969px !important;
}
#wallet_0602 {
    background-position: -1025px -1111px !important;
}

/* FOURTH ROW */
#wallet_0701 {
    background-position: -19px -1437px !important; /* +469 */
}
#wallet_0702 {
    background-position: -305px -1579px !important;
}
#wallet_0801 {
    background-position: -738px -1437px !important;
}
#wallet_0802 {
    background-position: -1025px -1579px !important;
}

/* FIFTH ROW */
#wallet_0901 {
    background-position: -19px -1906px !important; /* +469 */
}
#wallet_0902 {
    background-position: -305px -2046px !important;
}
#wallet_1001 {
    background-position: -738px -1906px !important;
}
#wallet_1002 {
    background-position: -1025px -2046px !important;
}

/* SIXTH ROW */
#wallet_1101 {
    background-position: -19px -2374px !important; /* +469 */
}
#wallet_1102 {
    background-position: -305px -2516px !important;
}
#wallet_1201 {
    background-position: -738px -2374px !important;
}
#wallet_1202 {
    background-position: -1025px -2516px !important;
}

/* SEVENTH ROW */
#wallet_1301 {
    background-position: -19px -2842px !important; /* +469 */
}
#wallet_1302 {
    background-position: -305px -2984px !important;
}
#wallet_1401 {
    background-position: -738px -2842px !important;
}
#wallet_1402 {
    background-position: -1025px -2984px !important;
}

/* EIGHTH ROW */
#wallet_1501 {
    background-position: -19px -3310px !important; /* +469 */
}
#wallet_1502 {
    background-position: -305px -3452px !important;
}
#wallet_1601 {
    background-position: -738px -3310px !important;
}
#wallet_1602 {
    background-position: -1025px -3452px !important;
}

/* NINETH ROW */
#wallet_1701 {
    background-position: -19px -3778px !important; /* +469 */
}
#wallet_1702 {
    background-position: -305px -3920px !important;
}
#wallet_1801 {
    background-position: -738px -3778px !important;
}
#wallet_1802 {
    background-position: -1025px -3920px !important;
}

/* TENTH ROW */
#wallet_1901 {
    background-position: -19px -4246px !important; /* +469 */
}
#wallet_1902 {
    background-position: -305px -4388px !important;
}
#wallet_2001 {
    background-position: -738px -4246px !important;
}
#wallet_2002 {
    background-position: -1025px -4388px !important;
}

/* ELEVENTH ROW */
#wallet_2101 {
    background-position: -19px -4714px !important; /* +469 */
}
#wallet_2102 {
    background-position: -305px -4856px !important;
}
#wallet_2201 {
    background-position: -738px -4714px !important;
}
#wallet_2202 {
    background-position: -1025px -4856px !important;
}

/* TWELVETH ROW */
#wallet_2301 {
    background-position: -19px -5182px !important; /* +469 */
}
#wallet_2302 {
    background-position: -305px -5324px !important;
}
#wallet_2401 {
    background-position: -738px -5182px !important;
}
#wallet_2402 {
    background-position: -1025px -5324px !important;
}

/* THIRTEENTH ROW */
#wallet_2501 {
    background-position: -19px -5650px !important; /* +469 */
}
#wallet_2502 {
    background-position: -305px -5792px !important;
}
#wallet_2601 {
    background-position: -738px -5650px !important;
}
#wallet_2602 {
    background-position: -1025px -5792px !important;
}

/* FOURTEENTH ROW */
#wallet_2701 {
    background-position: -19px -6117px !important; /* +469 */
}
#wallet_2702 {
    background-position: -305px -6259px !important;
}
#wallet_2801 {
    background-position: -738px -6117px !important;
}
#wallet_2802 {
    background-position: -1025px -6259px !important;
}

/* FIFTEENTH ROW */
#wallet_2901 {
    background-position: -19px -6586px !important; /* +469 */
}
#wallet_2902 {
    background-position: -305px -6728px !important;
}
#wallet_3001 {
    background-position: -738px -6586px !important;
}
#wallet_3002 {
    background-position: -1025px -6728px !important;
}
