/* FIRST ROW */
#wallet_0101 {
    background-position: -19px -34px !important;
}
#wallet_0102 {
    background-position: -305px -176px !important;
}
#wallet_0201 {
    background-position: -738px -34px !important;
}
#wallet_0202 {
    background-position: -1025px -176px !important;
}

/* SECOND ROW */
#wallet_0301 {
    background-position: -19px -503px !important; /* +469 */
}
#wallet_0302 {
    background-position: -305px -645px !important;
}
#wallet_0401 {
    background-position: -738px -503px !important;
}
#wallet_0402 {
    background-position: -1025px -645px !important;
}

/* THIRD ROW */
#wallet_0501 {
    background-position: -19px -972px !important; /* +469 */
}
#wallet_0502 {
    background-position: -305px -1114px !important;
}
#wallet_0601 {
    background-position: -738px -972px !important;
}
#wallet_0602 {
    background-position: -1025px -1114px !important;
}

/* FOURTH ROW */
#wallet_0701 {
    background-position: -19px -1441px !important; /* +469 */
}
#wallet_0702 {
    background-position: -305px -1583px !important;
}
#wallet_0801 {
    background-position: -738px -1441px !important;
}
#wallet_0802 {
    background-position: -1025px -1583px !important;
}

/* FIFTH ROW */
#wallet_0901 {
    background-position: -19px -1910px !important; /* +469 */
}
#wallet_0902 {
    background-position: -305px -2052px !important;
}
#wallet_1001 {
    background-position: -738px -1910px !important;
}
#wallet_1002 {
    background-position: -1025px -2052px !important;
}

/* SIXTH ROW */
#wallet_1101 {
    background-position: -19px -2379px !important; /* +469 */
}
#wallet_1102 {
    background-position: -305px -2521px !important;
}
#wallet_1201 {
    background-position: -738px -2379px !important;
}
#wallet_1202 {
    background-position: -1025px -2521px !important;
}

/* SEVENTH ROW */
#wallet_1301 {
    background-position: -19px -2848px !important; /* +469 */
}
#wallet_1302 {
    background-position: -305px -2990px !important;
}
#wallet_1401 {
    background-position: -738px -2848px !important;
}
#wallet_1402 {
    background-position: -1025px -2990px !important;
}

/* EIGHTH ROW */
#wallet_1501 {
    background-position: -19px -3317px !important; /* +469 */
}
#wallet_1502 {
    background-position: -305px -3459px !important;
}
#wallet_1601 {
    background-position: -738px -3317px !important;
}
#wallet_1602 {
    background-position: -1025px -3459px !important;
}

/* NINETH ROW */
#wallet_1701 {
    background-position: -19px -3786px !important; /* +469 */
}
#wallet_1702 {
    background-position: -305px -3928px !important;
}
#wallet_1801 {
    background-position: -738px -3786px !important;
}
#wallet_1802 {
    background-position: -1025px -3928px !important;
}

/* TENTH ROW */
#wallet_1901 {
    background-position: -19px -4255px !important; /* +469 */
}
#wallet_1902 {
    background-position: -305px -4397px !important;
}
#wallet_2001 {
    background-position: -738px -4255px !important;
}
#wallet_2002 {
    background-position: -1025px -4397px !important;
}

/* ELEVENTH ROW */
#wallet_2101 {
    background-position: -19px -4724px !important; /* +469 */
}
#wallet_2102 {
    background-position: -305px -4866px !important;
}
#wallet_2201 {
    background-position: -738px -4724px !important;
}
#wallet_2202 {
    background-position: -1025px -4866px !important;
}

/* TWELVETH ROW */
#wallet_2301 {
    background-position: -19px -5193px !important; /* +469 */
}
#wallet_2302 {
    background-position: -305px -5335px !important;
}
#wallet_2401 {
    background-position: -738px -5193px !important;
}
#wallet_2402 {
    background-position: -1025px -5335px !important;
}

/* THIRTEENTH ROW */
#wallet_2501 {
    background-position: -19px -5662px !important; /* +469 */
}
#wallet_2502 {
    background-position: -305px -5804px !important;
}
#wallet_2601 {
    background-position: -738px -5662px !important;
}
#wallet_2602 {
    background-position: -1025px -5804px !important;
}

/* FOURTEENTH ROW */
#wallet_2701 {
    background-position: -19px -6131px !important; /* +469 */
}
#wallet_2702 {
    background-position: -305px -6273px !important;
}
#wallet_2801 {
    background-position: -738px -6131px !important;
}
#wallet_2802 {
    background-position: -1025px -6273px !important;
}

/* FIFTEENTH ROW */
#wallet_2901 {
    background-position: -19px -6600px !important; /* +469 */
}
#wallet_2902 {
    background-position: -305px -6742px !important;
}
#wallet_3001 {
    background-position: -738px -6600px !important;
}
#wallet_3002 {
    background-position: -1025px -6742px !important;
}
