.landing-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;

    height: 100%;
}
.landing-navigation {
    grid-row: 1 / 2;

    justify-self: center;

    /* FLEX BOX - for nav-items*/
    display: flex;
}
/* Nav-Bar Menu icons */
.landing-navigation > * {
    margin: 0px 15px 0px 15px;
}

.landing-main {
    display: grid;
    grid-template-columns: 10vw 1fr 1fr 10vw;
    grid-column-gap: 40px;
    min-height: 80vh;

    align-items: center;
}
.main-info {
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
}
.main-image {
    grid-column: 3 / 4;
}

.explanation-image {
    background-image: url(./assets/wallet_instruction_A.png);
}

#read-more-button {
    border: none;
    cursor:pointer;
    color: #cecece;

    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#read-more-button::after {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#read-more-button:hover {
    color: #8e8e8e;
}

#wallet-button {
    align-self: center;

    /* border: solid black 2px; */
    box-shadow: 0px 0px 15px 0px #cccccc;
    border-radius: 30px;
    padding: 10px 25px 10px 25px;

    max-width: 50px;

    /* ANIMATION SETTINGS */
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#wallet-button::after {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#wallet-button:hover {
    box-shadow: 0px 0px 20px 0px #bcbcbc;
    transform: scale(1.05);
}
