.landing-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    /*height: 100%;*/
}
.landing-navigation {
    grid-row: 1 / 2;

    justify-self: center;

    /* FLEX BOX - for nav-items*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-navigation > h1 {
    margin: 10px 0px 10px 0px;
}
/* Nav-Bar Menu icons */
.landing-navigation > header {
    display: flex;
}
.landing-navigation > header > * {
    margin: 0px 15px 0px 15px;
}


.landing-main {
    display: grid;
    grid-template-columns: 2vw 1fr 1fr 2vw;
    grid-column-gap: 40px;
    min-height: 80vh;

    align-items: center;
}
.main-info {
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-self: center;
    min-width: 150px;
    max-width: 600px;
}
.main-image {
    grid-column: 3 / 4;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}



/* WALLET INSTRUCTION IMAGE */
.main-image > div {
    background-image: url(../assets/wallet_instruction_2x.png);
    background-repeat: no-repeat;

    border-radius: 30px;
    zoom: 0.7;
    height: auto;
    width: auto;

    margin: 10px 10px 10px 10px;
}
#wallet_instruction_01 {
    height: 398px;
    width: 254px;
    background-position: 0px 0px !important;
}
#wallet_instruction_02 {
    height: 254px;
    width: 398px;
    background-position: -284px -140px !important;
}



/* =========================== NOT USING ===========================* */
/*#read-more-button {
    border: none;
    cursor:pointer;
    color: #cecece;

    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#read-more-button::after {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#read-more-button:hover {
    color: #8e8e8e;
}*/

/*#wallet-button {
    align-self: center;


    box-shadow: 0px 0px 15px 0px #cccccc;
    border-radius: 30px;
    padding: 10px 25px 10px 25px;

    max-width: 50px;


    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#wallet-button::after {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#wallet-button:hover {
    box-shadow: 0px 0px 20px 0px #bcbcbc;
    transform: scale(1.05);
}*/
