@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand');


body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: #2a3e4c;
}
a {
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: white;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: white;
}
p {
    color: inherit;
}



.icon-hover-01 {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon-hover-01::after {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon-hover-01:hover {
  transform: scale(1.1);
  /*text-decoration: underline;*/
    /*margin-top: 5px;*/
}
