@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body {
    font-family: 'Inconsolata', monospace;
    color: black;
    background-color: #f9f9f9;
}
a {
    text-decoration: none;
    color: red;
}
h1 {
    font-size: 2.5em;
    color: red;
}


.icon-hover-01 {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon-hover-01::after {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon-hover-01:hover {
    margin-top: 5px;
}
