/*WALLETS*/
/*IPHONE SIZE*/
@media only screen and (max-width: 430px) {

    .wallet-container {
        display: flex;
        flex-direction: column;

        margin: auto;

        width: 100%;
    }
    .wallet-nav {
        align-self: center;
    }
    .wallet-nav > * {
        margin: auto;
    }
    .wallet-main > header {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
    }
    .wallet-main > header > p {
        text-align: center !important;
    }
    .wallet-main > span {
        zoom: 0.23;
    }

}
